@page "/checkout"

    <div class="container mt-5">
      <div class="row">
        <div class="col-12 mb-2">
          <div class="card d-flex p-3 flex-row justify-content-between">
            <p class="h3">product name x 1 x 100kr</p>

            <div class="btn-group btn-group-lg">
              <button type="button" class="btn btn-primary">+</button>
              <button type="button" class="btn btn-primary">-</button>
            </div>
          </div>
        </div>

        <div class="col-12 mb-2">
          <div class="card d-flex p-3 flex-row justify-content-between">
            <p class="h3">product name x 1 x 100kr</p>

            <div class="btn-group btn-group-lg">
              <button type="button" class="btn btn-primary">+</button>
              <button type="button" class="btn btn-primary">-</button>
            </div>
          </div>
        </div>

        <div class="col-12 mb-2">
          <div class="card d-flex p-3 flex-row justify-content-between">
            <div>
              <p class="h3">Totalt: 200kr</p>
              <span class="text-muted">inc. tax</span>
            </div>

            <button type="button" class="btn btn-primary">Confirm Order</button>
          </div>
        </div>
      </div>
    </div>

@code {

}
