@page "/"

  <div class="container mt-5  min-height">
      <div class="row">
        <div class="col-12 col-md-6 text-center text-md-start">
          <h2>TechStore</h2>
          <p>The one place for all your technical needs.</p>
          <div class="row mt-5">
            <div class="col-6 mt-5">
              <i class="fas fa-10x fa-shipping-fast"></i>
              <p class="h4">Fast Shipping.</p>
            </div>
            <div class="col-6 mt-5">
              <i class="fas fa-10x fa-money-bill-wave"></i>
              <p class="h4">Not satisfied? money back guarantee.</p>
            </div>

            <div class="col-6 mt-5">
              <i class="fas fa-10x fa-phone"></i>
              <p class="h4">excellent customer support.</p>
            </div>

            <div class="col-6 mt-5">
              <i class="fas fa-10x fa-desktop"></i>
              <p class="h4">High quality products.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <image
            class="img-fluid"
            src="https://images.unsplash.com/photo-1491933382434-500287f9b54b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=928&q=80"
          />
        </div>
        <div class="mt-5 mb-5 col-12 text-center text-md-start">
          <h3>About Us</h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat dolore
          iure error quibusdam ut nihil laudantium quae enim sequi itaque earum
          laborum nemo animi omnis, blanditiis nisi est facere non officia eum
          corporis temporibus! Ratione quaerat nam dicta pariatur quasi,
          quisquam distinctio voluptate, magnam nisi nemo ut excepturi minus
          deleniti eveniet ab aliquam totam iste tempora debitis, at in
          repudiandae facere mollitia quos! Ullam quae doloribus error quis
          veniam tenetur inventore reprehenderit itaque omnis, sint est
          similique aut nemo nesciunt obcaecati voluptatum perspiciatis, numquam
          quaerat? Itaque fuga eos id optio tenetur, unde error temporibus
          inventore! Accusamus dignissimos laudantium sequi natus?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat dolore
          iure error quibusdam ut nihil laudantium quae enim sequi itaque earum
          laborum nemo animi omnis, blanditiis nisi est facere non officia eum
          corporis temporibus! Ratione quaerat nam dicta pariatur quasi,
          quisquam distinctio voluptate, magnam nisi nemo ut excepturi minus
          deleniti eveniet ab aliquam totam iste tempora debitis, at in
          repudiandae facere mollitia quos! Ullam quae doloribus error quis
          veniam tenetur inventore reprehenderit itaque omnis, sint est
          similique aut nemo nesciunt obcaecati voluptatum perspiciatis, numquam
          quaerat? Itaque fuga eos id optio tenetur, unde error temporibus
          inventore! Accusamus dignissimos laudantium sequi natus?
        </div>
      </div>
    </div>

@code {

}
