@page "/login"

  <div class="container mt-5 min-height">
      <form>
        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control" id="email" />
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password:</label>
          <input type="password" class="form-control" id="password" />
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary w-100">Login</button>
        </div>
      </form>
      <div class="mb-3 d-flex justify-content-center">
        <p>Dont have an account? Create one <a href="">here</a></p>
      </div>
    </div>

@code {

}
