@page "/products"

<div class="container mt-5  min-height">
    <div class="row">

      <div class="col-sm-12 col-md-6 col-xl-4 mb-4">
        <div class="card p-3 shadow">
          <img src="https://inetimg.se/img/688x386/2216934_1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="d-flex justify-content-between">
              <p><span class="text-danger">100kr</span> <span class="text-muted">inc. tax</span></p>
              <a href="/" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

@code {

}
