@page "/products"

<div class="container mt-5  min-height">
    <div class="row">

        @if (products == null)
        {
            <p>Loading...</p>
        }
        else
        {
            @foreach (var product in products)
            {
               <ProductCard Item="@product"/>
            }
        }

    </div>
  </div>

@code {
    private Product[]? products;

    protected override async Task OnInitializedAsync()
    {
        products = await Http.GetFromJsonAsync<Product[]>("https://localhost:44332/api/products");
    }
}
