* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    background-color: #808080;
    height: 100%
}
.active {
    text-decoration: underline;
}
.bg-black {
    background-color: #000;
    color: #fff;
}

.min-height{
    min-height: 100vh;
}